.App {
  font-family: sans-serif;
  width: 80%;
  margin: auto;
}

.App h1,
.App h2 {
  text-align: center;
  color: #1f7f95;
  /* text-shadow: 2px 2px 2px black; */
}

.tabs {
  max-width: 400px;
  margin: 70px auto;
}

.tabs div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-title {
  font-size: 18px;
  text-decoration: underline;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px 5px 0 0;
}

.tab-title.active {
  background-color: #36cef0;
  border-bottom: 1px solid #36cef0;
}

.tab-content {
  padding: 20px 25px;
  line-height: 1.5;
  border: 2px solid #36cef0;
  border-radius: 0 0 5px 5px;
}
